{
  "printWidth": 80,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "semi": false,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwind"]
}
