@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* bg-slate-700 */
  border-radius: 0.75rem; /* xl -> 12px de radio */
}
